<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>

<body>
    <div class="content">
        <div class="titleContainer">
            <h1>공구할 사람 구함</h1>
        </div>

        <div class="inputContainer">
            <p>ID: <input type="text"></p>
            <p>PW: <input type="password"></p>
        </div>
        <div> <button>로그인</button> </div>
        <a href="">회원가입</a>
    </div>


</body>

</html>